:root {
	--dynamic-bg-color: #FF5A5A;
	--blue-color: #4183FF;
	--pink-color: #F870FF;
	--orange-color: #FE9C00;
	--yellow-color: #FEEA00;
	--green-color: #009C34;
	--red-color: #FF5A5A;

	--error-color: #FF5A5A;
	--grey-color: #a0a0a0;
	--light-grey-color: #dadada;
	--white-color: #ffffff;
	--black-color: #000
}

html,
body {
	font-family: 'Rubik' !important;
	font-weight: 400;
	position: relative;
	/* a light color */

	margin: 0px;
}

input {
	font-family: 'Rubik' !important;
	font-weight: 500;
	font-size: 15px;
}

button {

	font-family: 'Rubik' !important;


	font-size: 15px;
	padding: 8px;
	height: 40px;
	padding-left: 16px;
	padding-right: 16px;
	outline: none;
	border: none;
	border-radius: 8px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: .85;


	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 100ms ease-in-out;
	cursor: pointer;
	background-color: var(--dynamic-bg-color);

}


button img {
	margin-right: 8px;
}

@media (hover: hover) and (pointer: fine) {

	button:hover {
		opacity: 1;
		z-index: 10;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, .05);

	}

	button:hover i {
		opacity: 1;
	}
}




h1 {
	font-family: 'Keedy Sans';

	letter-spacing: 2px;
	color: var(--dynamic-bg-color);
	padding-top: 20px;
	font-size: 24px;
}


.polaroid-caption {


	color: rgba(0, 15, 85, .75);
	font-size: 25px;
	padding-top: 3px;
	width: 100%;
	font-family: 'biro_script_standardregular';
	text-transform: uppercase;
}